[submodule "dependencies/distribution2d"]
	path = dependencies/distribution2d
	url = git@github.com:jaredhoberock/distribution2d
[submodule "dependencies/bounding_box_hierarchy"]
	path = dependencies/bounding_box_hierarchy
	url = git@github.com:jaredhoberock/bounding_box_hierarchy
